
#studentInfo{

  background: #FFE150; 

  
}
#studentWord{
  background-color: #FFE150;

}


.bi-info-circle{
  background-color: #FFE150;
}


#namelist{
  width: 100%;
  height: 100%;
  padding-right: 3.125rem;
  padding-left: 3.125rem;
  overflow: auto;
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap; /* 자식 요소들을 여러 줄에 걸쳐 정렬 */
  justify-content: flex-start; /* 왼쪽에서부터 정렬 */
  align-content: flex-start;
}

#namelist button{
  height: 2.8125rem;
  width: 11.1875rem;
  font-size: 1.5625rem;
  font-weight: 450;
  background-color: white;
  border: 0.0625rem solid black;
  font-family: Inter;
}


#list{
  width: 100%;
  height: 3.125rem;
  text-align: center;
  color: black;
  font-size: 1.875rem;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 0.5625rem;
  word-wrap: break-word;

}

#line{
  width: 100%;
  height: 5.3125rem;
}

.popup0{
  position: fixed;
  /* 위계를 bg보다 1 높게 해서 더 위로 올라가도록 함 */
  z-index: 11;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.1);
  width: 43.75rem;
  height: 37.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  border: 0.0625rem solid;
}

#namePopup0{
  border: 0.0625rem solid black;
  position: absolute;
  top: 1.25rem;
  left: 15rem;
  width: 13.75rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* 가운데 정렬을 유지하기 위해 추가 */
  font-family: Inter;
}

.popup0 section{
  position: absolute;
  left: 9.875rem;
  width: 24rem;
  height: 3.75rem;
  top: 5.625rem;
}

.popup0 section div{
  width: 100%;
  height: 1.875rem;
  display: flex;
}

.popup0 section div div{
  font-size: 1.25rem;
  font-weight: normal;
  font-family: Inter;
  width: 6rem;
  border: solid 0.0625rem black;
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
}

#attendance{
  width: 90%;
  height: 23.125rem;
  position: absolute;
  left: 5%;
  bottom: 3.75rem;
  border: 0.0625rem solid black;
  overflow-y: auto;
}

.kucu{
  position: relative;
  width: 94%;
  height: 11.5625rem;
  margin-bottom: 1.25rem;
  margin-left: 3%;
  margin-top: 3%;
  border: 0.125rem solid black;
  border-radius: 0.625rem;
}

.word2{
  top: -4%;
  left: 2%;
  position: absolute;
  font-family: Inter;
  font-size: 0.9375rem;
  letter-spacing: 0.125rem;
}

.word1{
  top: -4%;
  position: absolute;
  font-family: Inter;
  font-size: 0.9375rem;
  right: 10%;
  letter-spacing: 0.125rem;
}


.date1{
  position: absolute;
  width: 14.0625rem;
  height: 3.75rem;
  left: 2%;
  top: 20%;
  font-family: Inter;
  font-size: 1.875rem;
  font-weight: bold;
  border: 0.0625rem solid black;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.attend1{
  position: absolute;
  width: 8.75rem;
  height: 3.75rem;
  left: 45%;
  top: 20%;
  font-family: Inter;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0.3125rem;
  border: 0.0625rem solid black;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.agree{
  position: absolute;
  width: 8.75rem;
  height: 3.75rem;
  right: 2%;
  top: 20%;
  font-size: 1.875rem;
  border: 0.0625rem solid black;

}

.statusResult{
  position: absolute;
  width: 6.875rem;
  height: 3.75rem;
  left: 0;
  font-family: Inter;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}
.status1{
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  right: 0rem;
  top: 0rem;
}
.status2{
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
}

.statusContent{
  position: absolute;
  width: 96%;
  height: 3.75rem;
  left: 2%;
  top: 60%;
  font-family: Inter;
  font-size: 1.25rem;
  border: 0.0625rem solid black;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}




#color1{
 background-color: #FFF8E4;
}
#color2{
  background-color: #FFF8E4;
}
#color3{
  background-color: #FFF8E4;
}
#color4{
  background-color: #FFF8E4;
}
#color5{
  background-color: #FFF8E4;
}

 #showPopupButton{
   width: 17%;
   height: 6%;
   right: 10%;
   bottom: 3.75rem;
   font-family: Inter;
   font-size: 1.0625rem;
   font-weight: bold;
   position: absolute;

 }

.popup {
  position: fixed;
  /* 위계를 bg보다 1 높게 해서 더 위로 올라가도록 함 */
  z-index: 11;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 31.25rem;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  border: 0.0625rem solid;
}
.popup h3 {
  font-family: Inter;
}

.buttons button{
  font-family: Inter;
}

.popup section{
  width: 95%;
  height: 21.875rem;
  position: absolute;
  top: 4.375rem;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  overflow-y: auto;
}

.nameBtn2{
  width: 10.625rem;
  height: 3.125rem;
  background-color: white;
  border: 0.0625rem solid black;
  font-family: Inter;
  font-size: 1.25rem;
}

.nameBtn2.selected{

  background-color: #e7e7e7;
}


h3 {
  font-size: 1.5625rem;
  text-align: center;
  padding: 1.25rem 0;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  bottom: 0;
  position: absolute;
  padding: 1.25rem 2.5rem;
}
.buttons button {
  border: 0.0625rem solid #000;
  background-color: #fff;

  border-radius: 1.25rem;
  width: 4.375rem;
  font-size: 1.25rem;
}

.popup_cancel1{
  position: absolute;
  bottom: 1.25rem;
  right: 2.5rem;
  font-family: Inter;
  border: 0.0625rem solid #000;
  background-color: #fff;
  border-radius: 1.25rem;
  width: 4.375rem;
  font-size: 1.25rem;
}

.popup_cancel2{
  position: absolute;
  bottom: 1.25rem;
  right: 2.5rem;
  font-family: Inter;
  border: 0.0625rem solid #000;
  background-color: #fff;
  border-radius: 1.25rem;
  width: 4.375rem;
  font-size: 1.25rem;
}


.popup1 {
  position: fixed;
  /* 위계를 bg보다 1 높게 해서 더 위로 올라가도록 함 */
  z-index: 12;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.1);
  width: 23.75rem;
  height: 12.5rem;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  border: 0.0625rem solid;
}
.popup1 h3{
  font-family: Inter;
}

.popup2 h3{
  font-family: Inter;
}
#addInput{
   position: absolute;
   width: 12.5rem;
   left: 23%;
   height: 2.5rem;
   font-weight: 400;
   font-size: 1.875rem;
   text-align: center;
}
.popup2 {
  position: fixed;
  /* 위계를 bg보다 1 높게 해서 더 위로 올라가도록 함 */
  z-index: 12;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.1);
  width: 23.75rem;
  height: 12.5rem;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  border: 0.0625rem solid;
}

#updateInput{
  position: absolute;
  width: 12.5rem;
  left: 23%;
  height: 2.5rem;
  font-weight: 400;
  font-size: 1.875rem;
  text-align: center;
}

.background {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.show {
  display: block;
}

.hide {
  display: none;
}
